*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.screen-title h1 {
  font-size: 5rem;
}

.cards {
  max-height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.card {
  height: 100%;
  min-width: 150px;
  min-height: 150px;
  aspect-ratio: 1/1;
}

.card-content {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  width: 100%;
  height: 100%;


  border: 1px solid rgb(224, 235, 235);
  border-radius: 1.6rem;
  box-shadow: 0 0 1rem .5rem hsla(0, 0%, 0%, .2);

  transform-style: preserve-3d;
}

.img-container {
  width: 100%;
}

.card-img {
  width: 100%;
}

.card-txt {
  width: 100%;
  color: #000;
  font-size: 1.5rem;
}

.card-content::before, .card-content::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border: 1px solid #000;
  position: absolute;
  z-index: 2;
  opacity: .3;
  transition: 0.5s;
}

.card-content::before {
  top: 1.5rem;
  right: 1.5rem;
  border-bottom-width: 0;
  border-left-width: 0;
}

.card-content::after {
  bottom: 1.5rem;
  left: 1.5rem;
  border-top-width: 0;
  border-right-width: 0;
}

.card--active {
  transition: none;
}

.card:hover .card-content::before, 
.card:hover .card-content::after {
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
}

@media (max-width: 991.98px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-content {
    justify-content: center;
    gap: 0;
  }
  .card-content::after, .card-content::before {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .card-content::after, .card-content::before {
    display: none;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
