*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 5rem;
}
.skills h1 {
  font-size: 3rem;
}

.cards {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  max-height: 75%;
  max-width: 75%;
}

/*  */
@media (max-width: 1024px) and (min-width: 768px) {
  
}